/* line 7, ../../../src/sass/framework/_typography.scss */
h1 {
    font-size: 24px;
}

/* line 10, ../../../src/sass/framework/_typography.scss */
@media only screen and (max-width: 480px) {
    h1 {
        font-size: 20px;
    }
}

/* line 15, ../../../src/sass/framework/_typography.scss */
@media only screen and (min-width: 480px) {
    h1 {
        font-size: 22px;
    }
}

/* line 19, ../../../src/sass/framework/_typography.scss */
@media only screen and (min-width: 769px) {
    h1 {
        font-size: 30px;
    }
    p {
        font-size: 20px;
    }
}

/* line 25, ../../../src/sass/framework/_typography.scss */
.content h2 {
  font-size: 10px;
}

/* line 29, ../../../src/sass/framework/_typography.scss */
@media only screen and (min-width: 769px) {
    .content h2 {
        font-size: 15px;
    }
}

@media print {
    p {
        font-size: 1em;
    }
}